@font-face {
    font-family: "MuseoSansLight";
    src: url("../fonts/MuseoSansLight.eot");
    src: url("../fonts/MuseoSansCyrl-300.otf") format('opentype'), url("../fonts/MuseoSansLight.ttf") format('truetype'), url("../fonts/MuseoSansLight.woff") format('woff');
}
@font-face {
    font-family: "MuseoSansMedium";
    src: url("../fonts/MuseoSansMedium.eot");
    src: url("../fonts/MuseoSansCyrl-500.otf") format('opentype'), url("../fonts/MuseoSansMedium.ttf") format('truetype'), url("../fonts/MuseoSansLight.woff") format('woff');
}
@font-face {
    font-family: "MuseoSansBold";
    src: url("../fonts/MuseoSansBold.eot");
    src: url("../fonts/MuseoSansCyrl-700.otf") format('opentype'), url("../fonts/MuseoSansBold.ttf") format('truetype'), url("../fonts/MuseoSansBold.woff") format('woff');
}