$white: rgb(255, 255, 255);
$darkBlue: rgb(29, 33, 54);
$pink: rgb(63, 69, 101);
$red: rgb(227, 9, 51);
$darkRed: rgb(198, 7, 44);
$grey: rgb(123, 126, 134);
$lightGrey: rgb(248, 250, 250);
$darkGrey: rgb(93, 98, 124);
$cream: rgb(229, 229, 229);
$lightFont: "MuseoSansLight", sans-serif;
$mediumFont: "MuseoSansMedium", sans-serif;
$boldFont: "MuseoSansBold", sans-serif;
$icons: ("email", "name", "phone");